<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Info</title>
</head>
<body>
    <h1>Student Information</h1>
    <form action="save" method="post">
        <input type="text" name="firstName" placeholder="First Name"><br>
        <input type="text" name="lastName" placeholder="Last Name"><br>
        <input type="text" name="program" placeholder="Program"><br>
        <input type="text" name="batch" placeholder="Batch"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>